/* This solves the negative offset problem for the header in homework 1. */
* {
    box-sizing: border-box;
  }  

body {
    margin: 0rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #777777;
    background: #ffffff url("../images/concrete_seamless.png") repeat;
    font: normal 1.2rem 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Heading
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
    background-color: #ffffff;
    border-bottom: 0.1rem solid #cccccc;
}

#wrapper {
    clear: both;
    margin: 0rem auto;
    max-width: 60rem;
    width: 100%;
}

h1 {
    float: left;
    margin: 0rem;
    padding: 1.8rem 2.5rem;
    color: #ffffff;
    background-color: #4aaaa5;
    font: bold 1.8rem 'Georgia', Times, 'Times New Roman', serif;
}

nav {
     float: right;
     margin-top: 1.8rem;
}

nav a {
    padding: 0rem 1rem;
    color: #777777;
    border-right: thin solid #dddddd;
    text-decoration: none;
}

nav a:last-child {
    padding-right: 0rem;
    border: none;
}

/* Main content
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#flex {
    flex-grow: 1;
}

main {
    margin: 2.5rem auto;
    padding: 0.8rem 2rem 1.5rem;
    width: 60rem;
    background-color: #ffffff;
    border: thin solid #dddddd;
}

h2 {
    padding-bottom: 1.8rem;
    color: #4aaaa5;
    border-bottom: 0.2rem solid #dddddd;
    font: bold 1.8rem 'Georgia', Times, 'Times New Roman', serif;
}

a:hover {
    color: #4aaaa5;
}

a img:hover {
    border: 0.2rem solid #4aaaa5;
}

img {
    width: 100%;
    height: auto;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
    height: 10vh;
    color: #cccccc;
    background-color: #666666;
    border-top: 0.5rem solid #4aaaa5;
    font-size: 0.8rem;
    text-align: center;
}

footer p {
    margin-top: 3vh;
}

/* About page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#profile {
    float: left;
    margin: 0.6rem 1.2rem 0rem 0rem;
    width: 12.5em;
}

p {
    line-height: 2.5rem;
}

/* Contact page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input, textarea {
    margin: 0.5rem 0rem 1rem;
    padding: 0.7rem;
    width: 100%;
    color: #777777;
    border: 0.1rem solid #dddddd;
}

textarea {
    height: 14rem;
}

button {
    margin-bottom: 0.5rem;
    padding: 0.5rem 1.6rem;
    color: #ffffff;
    background-color: #4aaaa5;
    border: none;
    font-size: 1rem;
    text-align: center;
    transition: background-color 2s;
}

button:hover {
    background-color: #666666;
}

/* Portfolio page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.flexbox {
    display: flex;
    flex-flow: row wrap;
}

.img-container {
    position: relative;
    margin: 1rem 2.4rem 1.5rem 0rem;
    text-align: center;
}

.img-text {
    position: absolute;
    bottom: 0.8rem;
    padding: 1.2rem 0rem;
    width: 100%;
    color: #ffffff;
    background-color: #4aaaa5;
    font: normal 1.5rem 'Georgia', Times, 'Times New Roman', serif;
}

/* Responsive
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 980px) {
    h1 {
        margin: 0rem 3rem;
    }

    nav {
        margin: 1.8rem 1rem 0rem;
    }
    
    main {
        margin: 2.5rem 3rem;
        width: 37rem;
    }

    .img-container {
        width: 15rem;
        margin: 1rem 1.4rem 0.4rem 0rem;
    }
}

@media screen and (max-width: 768px) {
    #wrapper {
        width: 92%;
    }

    h1 {
        margin: 0rem;
    }   

    nav {
        margin-right: 0.3rem;
    }

    main {
        margin: 2.5rem 1.8rem;
        width: 92%;
    }

    #profile {
        width: 50%;
        margin-bottom: 1rem;
    }

    .img-container {
        width: 17rem;
    }
}

@media screen and (max-width: 640px) {
    #wrapper {
        width: 100%;
    }

    h1, nav {
        clear: both;
        width: 100%;
        margin: 0rem auto;
        padding: 2rem 0rem;
        text-align: center;
    }

    nav {
        padding: 1.5rem 0rem;
    }

    main {
        margin: 2rem 1rem;
    }

    #profile {
        width: 100%;
    }

    .img-container {
        margin: 1rem auto;
        width: 30rem;
    }
}