body {
    margin: 0em;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #777777;
    background: #ffffff; /* add image */
    font: normal 1.2em 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    background-color: #ffffff;
    border-bottom: 0.1em solid #cccccc;
}

#wrapper {
    width: 50em;
    margin: 0em auto;
    clear: both;
}

h1 {
    float: left;
    color: #ffffff;
    font: bold 1.5em 'Georgia', Times, 'Times New Roman', serif;
    margin: 0em -1em; /* idk why this is offset */
    padding: 1em 1.4em;
    background-color: #4aaaa5;
}

nav {
     float: right;
     margin: 1.5em -1.4em 0em; /* why does left/right get adjusted this much */
}

nav a {
    color: #777777;
    text-decoration: none;
    padding: 0em 1em;
    border-right: thin solid #dddddd;
}

nav a:last-child {
    border: none;
    padding-right: 0em;
}

/* sticky footer solution here seems inelegant
   is there another way besides a flex container for main? */
#flex {
    flex-grow: 1;
}

main {
    margin: 2em auto;
    width: 50em;
    padding: 0.5em 1.5em 1em;
    background-color: #ffffff;
    border: thin solid #dddddd;
}

/* need to align the copyright to the bottom */
footer {
    height: 10vh;
    color: #cccccc;
    font-size: 0.7em;
    text-align: center;
    border-top: 0.5em solid #4aaaa5;
    background-color: #666666;
}

h2 {
    color: #4aaaa5;
    font: bold 1.5em 'Georgia', Times, 'Times New Roman', serif;
    border-bottom: 0.1em solid #dddddd;
    padding-bottom: 1em;
}

p {
    line-height: 2em;
}

a:hover {
    color: #4aaaa5;
}

/* to do:
    flex the images on portfolio
    fix up the form (e.g. style the submit button)
    text-links/nav links/button hover interactions
    sticky footer fix
    background pattern
    portfolio placeholders
    picture on about page
    write 2 paragraphs about self
    put my name down
    why is my content area bigger than the picture? even with 960px
*/